body{
    width: 99%;
}
.main{
    margin: auto;
    background-color: aliceblue;

    width: 80%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}

.main>div{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
}

.main>div>h5 ,.main>div>p{
  text-align: center;
}
img{
    width: 100%;
}

#price-section{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-bottom: 20px;
}
#price-section>h2{
    color: black;
   
}

#instruction{
    font-style: italic;
    line-height: 20px;
}
#promo{
    background-color: rgb(220, 245, 235);
    width: 30%;
    height: 30px;
    border-radius: 20px;
    text-align: center;
    font-size: 23px;
}

    @media all and (min-width:451px) and (max-width:720px){
        body{
            width: 90%;
        }

        .main{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
        }
    }
    @media all and (min-width:50px) and (max-width:450px){
        body{
            width: 90%;
        }

        .main{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(1,1fr);
            gap: 5px;
        }
    }
