#navbar{
    display: flex;
    background-color: aqua;
    align-items: center;
    justify-content: space-between;
    padding: 0% 2% 0% 2%;
}

#voucher_list{
    padding-top: 20px;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
}
#voucher_list>div{
    width: 100%;
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
    text-align: center;
}
img{
    width: 90%;
    padding-top: 10px;
    
    
}